@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Marvel:wght@400;700&family=Poppins&family=Sora&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@font-face {
    font-family: 'oneSignature';
    src: url('OneSignature.otf');
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Sora';
}
.arvo{
    font-family: 'Arvo';
}
.marvel{
    font-family: 'Marvel'!important;
}
a {
    color: black !;
}
.logo{
    font:50px 'oneSignature';
    font-weight: 400;
    margin: 0!important;
    opacity: 1;
    transition: all 0.3s ease;
    /* margin: 1rem 0 0 5rem; */

}
.shri{
    text-shadow: 1px 1px #444, -1px -1px white, 0px 2px 4px #999, 0 0 24px white;
    font-family: 'Rubik Doodle Shadow';
}
.braces{
    font: 20px 'Nunito Sans';
}
body {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(66, 64, 65);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(2, 130, 144);
}

.material-icons,
.fa-brands {
    font-size: 2rem;
}

.socials{
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid #476a75;
    padding: 0 12px;
    border-radius: 15px;
}
.socials-box{
    display: flex;
    /* align-items: ; */
    gap: 16px;
}
.social-icon{
    width: 30px;
}
.resume-btn{
    color: #087ea4;
    /* border: 1px solid ; */
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 1px #087ea4;
}
.resume-btn:hover{
    color: #087ea4;
}
section {
    width: 100%;
}
.hidden{
    opacity: 0;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    top: 0;
    z-index: 10;
    width: 100vw;
    background-color: inherit;
    /* backdrop-filter: blur(70px); */
    /* background-color: #16181c; */
    padding: 16px 48px;
    transition: height 0.5s ease!important;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
ul li a{
    font-size: 22px;
}
ul li a:hover{
    color:rgb(8, 126, 164);
}
#cv{
    color: white;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 10px;
    transition: all 0.4s ease;
}
#cv:hover::after{
    display: none   ;
}

.txt-center {
    text-align: center;
}
.toggler{
    display: none;
    font-size: 45px;
}
.hide{
    display: none!important;
}
.theme {
    /* color: rgb(2, 130, 144); */
    /* color: #0074a6; */
    color: #087ea4;
}
.font-big
{
    font-size: 3rem;
}
#edu{
    gap: 48px;
}
.edu-item
{
    width: 40vw;
    height: 15rem;
    border: 1.5px solid beige;
    border-radius: 15px;
}

.themebg {
    /* background-color: rgb(2, 130, 144); */
    background-color: #087ea4;
}
.mode {
    /* background-color: #000f28; */
    background-color: #16181c;
}
a {
    /* color: rgb(248, 94, 5); */
    text-decoration: none;
    font-weight: 500;
}

#dark_btn {
    /* position: fixed; */
    /* top: 13%;
    left: 97%; */
    cursor: pointer;
    z-index: 10;
}

section {
    padding: 10.5rem 0 7.5rem 0;
    /* border-bottom: 1px solid rebeccapurple; */
}

#Home {
    padding: 5.5rem 3rem;
}

.dark_mode {
    background-color: rgb(1, 36, 50) !important;
    color: beige !important;
}

.setting {
    position: fixed;
    top: 13%;
    left: 97%;
    /* background-color: aqua; */
    cursor: pointer;
}

.color-btn {
    justify-content: none;
}

#Home .txt {
    width: 50%;
}

.hi {
    font-size: 0.5rem;
}

.txt span {
    font-size: 2.8rem;
}

.txt h5 {
    font-size: 1.4rem;
    opacity: 1;
    margin-top: 2rem;
    /* font-family: 'Arvo'; */
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
}

.txt p {
    font-size: 1.2rem;
    margin-top: 2rem;
    opacity: 1;
    transition: all 0.8s ease;
    font-weight: 500;
}

.img {
    height: 28rem;
    width: 28rem;
    margin-top: 2rem;
}

.img .image {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
    opacity: 1;
}

.home-img {
    position: relative;
}


/* .home-img::before 
{
    content: " ";
    position: absolute;
    top: 0;
    left: 10px;
    width: 4rem;
    height: 4rem;
    border-left: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
}
.home-img::after
{
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    border-right: 3px solid rgb(166, 166, 166);
    border-bottom: 3px solid rgb(168, 169, 169);
} */
.bttn {
    border-radius: 5px;
    background-color: rgb(2, 130, 144);
    border: none;
    padding: 0.3rem 0.8rem;
    color: white;
    transition: all 0.5s;
}

.bttn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(179, 205, 245);
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(187, 210, 244);
    /* border: 1px solid rgb(2, 130, 144); */
}

#sett {
    animation: rott linear 5s infinite;
}

#sett:hover {
    animation-play-state: paused;
}

.hire-btn {
    margin-top: 2rem;
}

.tb-info {
    /* background-color: aqua; */
    padding: 1.5rem 5.5rem;
}

#About {
    /* background-color: aqua; */
    padding: 6.5rem 0 2rem 0;
}
.sec-title {
    font-size: 2.5rem;
    padding: 0 0 3rem 0;
    margin: 0 0 2rem 7.2rem;
    /* background-color: #fff; */
    font-family: 'Arvo';
    font-weight:400;
}

#About table {
    font-size: 1.3rem;
}

.web-images {
    display: flex;
    gap: 1rem;
}

.web-images-img {
    height: 3.5rem;
    width: 3.5rem;
}

.skills {
    flex-direction: row-reverse;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 36px;
}
.skills-inner-box{
    /* background-color: beige; */
    border: 1.5px solid beige;
    padding: 16px 20px;
    border-radius: 16px;
}
#Skills .skillimg {
    width: 9.5rem !important;
    height: 9.5rem !important;
    padding: 1.5rem 1.5rem;
}

.progress-out {
    width: 40rem;
    height: 1.15rem;
    border: 0px solid white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 4rem;
}

.progress-in-1::after {
    content: "80%";
    position: relative;
    bottom: 1px;
    left: 40px;
}

.progress-in-2::after {
    content: "85%";
    position: relative;
    bottom: 1px;
    left: 50px;
}

.progress-in-3::after {
    content: "70%";
    position: relative;
    bottom: 1px;
    left: 50px;
}

.progress-in-4::after {
    content: "45%";
    position: relative;
    bottom: 1px;
    left: 50px;
}

.progress-in-1 {
    padding-left: 75%;
}

.progress-in-2 {
    padding-left: 80%;
}

.progress-in-3 {
    padding-left: 65%;
}

.progress-in-4 {
    padding-left: 40%;
}

.progress-in span {
    visibility: hidden;
}

#Contact {
    /* background-color: rebeccapurple; */
    text-align: center;
    padding: 10.5rem 0;
}

#Contact .text {
    padding: 0 0 1rem 0;
    font-family: 'Arvo';
    font-weight:600;
}

.foot {
    padding: 5rem 0 0 0;
    justify-content: center;
    gap: 4rem;
}

.cc {
    /* border: 1px solid rgb(51, 51, 51); */
    padding: 2rem;
    background: #ebecf0;
    color: black;
    border-radius: 10px;
    width: 17rem;
}

.cc h6 {
    padding: 0.5rem 0;
}

form {
    flex-direction: column;
    padding: 2.5rem 0;
    gap: 2rem;
    color: beige !important;
}

.form-1 {
    justify-content: center;
    gap: 2rem;
}

input[type=text] {
    width: 25.5vw;
    border: 0px solid rgb(51, 51, 51);
    background: #ebecf0;
    color: black;
    padding: 1rem 1rem;
}

.email,
.subject input {
    width: 53vw;
    background: #ebecf0;
    color: black;
    padding: 1rem 1rem;
    border: 0px solid rgb(51, 51, 51);
}

.textarea {
    width: 53vw;
    padding: 1rem;
    background: #ebecf0;
    color: black;
    resize: none;
    border: 0px solid rgb(137, 137, 137);
}
.text-box-dark{
    background: #343a46;
}

input[type=submit],
input[type=reset] {
    width: 23vw;
    border: none;
    outline: none;
    color: black;
}

.copy {
    padding: 6.7rem 0 1.7rem 0 !important;
    text-align: center;
}

.gallery-img {
    overflow-x: hidden;
}

.gall-left {
    width: 50vw;
}

.gall-left img {
    width: 25rem;
    height: 25rem;
}

.gallery-right {
    width: 38rem;
    height: 42rem;
}

.gallery-right img {
    width: 80%;
    height: 80%;
}

.i {
    display: flex;
    width: 35rem;
    height: 20rem;
    overflow-x: scroll;

}

.i::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.i img {
    width: 35rem;
    height: 20rem;
}

.up {
    position: fixed;
    top: 93%;
    left: 97%;
    font-size: 1.5rem;
}

@keyframes rott {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:1488px) {
    section {
        overflow-x: hidden;
    }

    html {
        font-size: 90%;
    }

    #navbarSupportedContent {
        margin-left: 550px !important;
    }

    .mar-letter {
        margin-left: 0rem;
    }

    .setting {
        left: 96%;
    }
}

@media screen and (max-width:1340px) {

    #navbarSupportedContent {
        margin-left: 200px !important;
    }
}
@media screen and (max-width:1235px) {

    html {
        font-size: 85%;
    }

    .sec-title {
        text-align: center;
        margin: 0;
    }
    .skills-container{
        flex-direction: row!important;
    }
    .flex {
        flex-direction: column !IMPORTANT;
    }

    #About-in,
    #Skills {
        flex-direction: column-reverse;
    }

    .progress-in-1::after,
    .progress-in-2::after,
    .progress-in-3::after,
    .progress-in-4::after {
        bottom: 1px;
        left: 3rem;
    }

    #navbarSupportedContent {
        margin-left: 100px !important;
    }

    .mar-letter {
        margin-left: 0rem;
    }

    #Home .txt {
        width: 90%;
    }

    #Home .img {
        width: 40% !important;
    }

    input[type=text] {
        width: 53vw;
    }

    input[type=submit],
    input[type=reset] {
        width: 53vw;
    }

    .copy {
        padding: 0.7rem;
    }

    .gall-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .gall-left h5 {
        width: 100vw;
        padding: 0 2rem;
    }

    .gall-left h6 {
        width: 75vw;
        /* margin: auto; */
        text-align: left;
    }

    .img-mobile {
        width: 35rem;
        height: 25rem;
    }
}
@media screen and (min-width:992px) {
    li a{
        position: relative;
    }
    li a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: rgb(8, 126, 164);
        transition: all 0.5s ease;
    }
    li a:hover::after{
        width: 100%;
    }
    #cv:hover{
        background-color: rgb(103, 174, 197);
        /* border: 1px solid white; */
        color: black;
    }
}
@media screen and (max-width:992px) {
    html {
        font-size: 90%;
    }
    /* nav{
        flex-direction: column!important;
        align-items: start;
        padding: 18px 50px;
        gap: 40px;
        /* display: none; */
        /* height: 80px; */
        /* justify-content: flex-start; */
        /* overflow: hidden; */
        /* backdrop-filter: blur(50px); */
    } */
    .animated-icon{
        width: 250px!important;
    }
    /* .toggler{
        display: block;
        position: fixed;
        right: 10%;
        top: 2%;
        z-index: 10;
    } */
    .hide{
        display: block!important;
    }
    .nav-height{
        /* display: block; */
        height: 100vh;
    }
    nav ul{
        flex-direction: column;
    }
    /* #dark_btn {
        left: 92%;
        top: 16%;
    } */
    .up{
        left: 92%;

    }
    .edu
    {
        flex-direction: column;
    }
    .edu-item
    {
        width: 75vw;
        padding: 0!important;
    }
    #Home .img {
        width: 50% !important;
    }


@media screen and (max-width:600px) {
    html {
        font-size: 80%;
    }

    #dark_btn {
        font-size: 1.8rem!important;
    }
    nav{
        padding: 16px 16px 24px 48px!important;
    }
    .up{
        left: 92%;

    }
    #Home {
        /* background-color: aqua; */
        padding: 6.5rem 0 1.5rem 0;
    }
    #Home .img {
        width: 75% !important;
    }
    .tb-info {
        padding: 1.5rem;
    }

    .progress-out {
        width: 30rem;
    }
    .skills-inner-box{
        /* background-color: beige; */
        border: 1.5px solid beige;
        padding: 16px 20px;
        border-radius: 16px;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 75%;
    }
    .logo{
        font-size: 38px;
        position: relative;
        right: 30px;
    }
    /* .toggler{
        position: fixed;
        right: 2%;
        top: 3%;
        font-size: 36px;
    } */
    .setting {
        top: 12%;
        left: 90%;
    }

    .progress-out {
        width: 20rem;
    }
    .progress-in-1 {
        padding-left: 65%;
    }
    
    .progress-in-2 {
        padding-left: 70%;
    }
    
    .progress-in-3 {
        padding-left: 60%;
    }
    
    .progress-in-4 {
        padding-left: 35%;
    }
    
    .bars{
        margin: 0;
    }
    .up {
        position: fixed;
        top: 95%;
        left: 90%;
    }

    /* #dark_btn {
        position: fixed;
        top: 14%;
        left: 92%;
    } */

    .txt-table {
        margin-left: 2rem;
    }

    .tb-info {
        font-size: 1rem;
    }

    .web-images-img {
        height: 3rem;
        width: 3rem;
    }
    .img-mobile {
        width: 20rem;
        height: 20rem;
    }
    input[type=text],input[type=email],.textarea{
        width: 80vw;
    }
}

input:focus,textarea:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(2, 130, 144)!important;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.loader{
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 4px;
}
.load{
    width: 20px;
    height: 20px;
    background-color: rgb(2, 130, 144);
    border-radius: 50%;
    animation: load 1s alternate-reverse infinite;
}
.load-2{
    animation-delay: 1s;
}
@keyframes load {
    100%{
        opacity: 0.2;
    }
}
#Home,#About,#Skills,#Education,#Contact,#about-1{
    transition: opacity 0.5s ease;
}

body{
    max-width: 1500px;
    margin: auto;
}